<div class="container mt-4">
    <div class="card">
      <img src="https://picsum.photos/800/400?random=2" alt="Cocina del mundo" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">Recetas del Mundo</h2>
        <p class="card-text">
          En este viaje culinario, probé delicias de diferentes partes del mundo. Desde sushi japonés hasta curry indio, ¡todo fue delicioso!
        </p>
        <ul class="list-group">
          <li class="list-group-item">¡Sushi fresco en Tokio!</li>
          <li class="list-group-item">Curry picante en Delhi</li>
          <li class="list-group-item">Pizza auténtica en Nápoles</li>
        </ul>
        <a href="#" class="btn btn-primary mt-3">Descubrir más</a>
      </div>
    </div>
  </div>
  